.main-container-comp {
    min-height: 100vh;
    background-color: #ffffff;
}

.expert-header {
    display: block;
    text-align: center;
    min-height: 14vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.expert-container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas: "a b c d";
    text-align: center;
    margin-top: 1rem;
}

.dev-container {

    grid-area: b;

    &>h3 {
        margin: 1.5rem 0 2.5rem 0;
    }

    &>h5 {
        margin: 2.5rem 0 2.5rem 0;
    }

    &>p {
        margin: 2.5rem 6rem 2.5rem 6rem;
    }

    &>.bloc {
        border-left: 3px solid #2f4ace;
        line-height: 1.5;
    }
}

.forma-container {
    grid-area: c;

    &>h3 {
        margin: 1.5rem 0 2.5rem 0;
    }

    &>h5 {
        margin: 2.5rem 0 2.5rem 0;
    }

    &>p {
        margin: 2.5rem 6rem 2.5rem 6rem;
    }

    &>.bloc {
        padding-left: 2rem;
        border-left: 3px solid #2f4ace;
        line-height: 1.5;
    }
}

@media screen and (max-width:900px)  {
    .expert-container {
        grid-template-columns: 15% 35% 35% 15%;
    }

    .dev-container {
        &>h5 {
            font-size: 1.5rem;
            padding-top: 2.7rem;
        }
        
        &>p {
            margin: 2.5rem 3rem 2.5rem 3rem;
            font-size: 1rem;
        }
        
        &>.bloc {
            font-size: 1rem;
            line-height: 2;
        }
    }

    .forma-container {
        &>h5 {
            font-size: 1.5rem;
        }

        &>p {
            margin: 2.5rem 3rem 2.5rem 3rem;
            font-size: 1rem;
        }

        &>.bloc {
            width: 100%;
            padding-left: 1rem;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:750px) {
    .expert-container {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
        grid-template-areas: "a"
                             "b" ;
    }
    .dev-container {

        grid-area: a;

        &>h3 {
            margin: 1.5rem 0 2.5rem 0;
        }

        &>h5 {
            margin: 2.5rem 0 2.5rem 0;
        }

        &>p {
            margin: 2.5rem 7rem 2.5rem 7rem;
        }

        &>.bloc {
            border-left: 3px solid #2f4ace;
            line-height: 1.5;
        }
    }

    .forma-container {
        grid-area: b;

        &>h3 {
            margin: 1.5rem 0 2.5rem 0;
        }

        &>h5 {
            margin: 2.5rem 0 2.5rem 0;
        }

        &>p {
            margin: 2.5rem 6rem 2.5rem 6rem;
        }

        &>.bloc {
            padding-left: 0rem;
            border-left: 3px solid #2f4ace;
            line-height: 1.5;
        }
    }
}

@media screen and (max-width:450px) {
    .expert-header {
        display: block;
        text-align: center;
        min-height: 14vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    .forma-container {

        &>.bloc {
            padding-left: 0rem;
            border-left: 3px solid #2f4ace;
            line-height: 1.5;
            max-width: 85vw;
        }
    }

    .main-container-comp {
        padding-bottom: 5rem;
    }
}

