.main-container-contact {
    background-color: #ffffff;
    padding-bottom: 12rem;
    padding-top: 1rem;
}

.contact-container {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 40vw;
    height: 43vh;
    background-color: #e5e5e5;
    left: 30%;
    margin-top: 5%;
    z-index: 10;

    &>.contact-info {
        margin: 2.5rem 1rem 1rem 2rem;
    }

    &>.contact-info>h2 {
        font-size: 2.5rem;
        color: #4d4d4d;
    }

    &>.contact-info>p {
        font-size: 1.2rem;
        line-height: 2.5rem;
        color: #808080;
    }

    &>.contact-info>a {
        color: #2f4ace;
    }

    &>.input-container {
        margin: 3rem 2rem 1rem 0;
    }

    &>.input-container>form>.input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    &>.input-container>form>.input>input,
    &>.input-container>form>.input>textarea {
        border: 0;
        border-bottom: 1px solid black;
        background: transparent;
    }

    &>.input-container>form>.input>input {
        height: 1.5rem;
    }

    &>.input-container>form>.input {

        &>textarea:hover+.label-textarea,
        &>textarea:valid+.label-textarea,
        &>textarea:focus+.label-textarea,
        &>.label-textarea:hover {
            transition: all 0.22s;
            transform: translateY(-400%);
        }

        &>input:hover+label,
        &>input:valid+label,
        &>input:focus+label,
        &>label:hover {
            transition: all 0.22s;
            transform: translateY(-100%);
        }
    }

    &>.input-container>form>.input {
        &>label {
            position: absolute;
        }

        &>.label-textarea {
            position: absolute;
            bottom: 8.5rem;
        }
    }

    &>.input-container>form>.submit {
        border: none;
        font-family: 'Open Sans', sans-serif;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        height: 3rem;
        width: 100%;
    }
}

.contact-svg-1 {
    &>svg {
        height: 40rem;
        width: 42rem;
        left: 25%;
        position: absolute;
    }
}

.contact-svg-2 {
    &>svg {
        height: 40rem;
        width: 43rem;
        left: 35%;
        transform: rotate(10);
        position: absolute;
    }
}

@media screen and (max-width:1350px)  {
    .contact-container {
        left: 20%;
    }

    .contact-svg-1 {
        &>svg {
            height: 35rem;
            width: 37rem;
            left: 25%;
            position: absolute;
        }
    }

    .contact-svg-2 {
        &>svg {
            height: 35rem;
            width: 37rem;
            left: 35%;
            transform: rotate(10);
        }
    }
}

@media screen and (max-width:1550px) {
    .contact-container {
        left: 30%;

       &>.contact-info {
           margin: 0rem 0.5rem 1rem 1rem;
       }

       &>.contact-info>h2 {
           font-size: 2.5rem;
           color: #4d4d4d;
       }

       &>.contact-info>p {
           font-size: 1rem;
           line-height: 2rem;
           color: #808080;
       }

       &>.contact-info>a {
           color: #2f4ace;
       }
    }
}

@media screen and (max-width:1250px) {
    .main-container-contact {
        background-color: #ffffff;
        padding-bottom: 4rem;
        padding-top: 1rem;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        height: auto;
       
        &>.contact-info {
            margin: 2.5rem 1rem 0rem 2rem;
        }

        &>.input-container {
            margin: 0rem 2rem 3.5rem 2rem;
        }

    }
}

@media screen and (max-width:950px) {
    .contact-container {
        position: relative;
        width: 40vh;
        height: auto;
        left: 25%;

    }
    .contact-svg-1 {
        &>svg {
            display: none;
        }
    }

    .contact-svg-2 {
        &>svg {
            display: none;
        }
    }
}

@media screen and (max-width:450px) {
    .contact-container {
        width: 35vh;
        left: 15%;
    }
}