.main-container-projet {
    max-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 10rem;
    &>.title {
        text-align: center;
        font-size: 3rem;
    }
}

.catego-container {
    display: grid;
    grid-template-rows: 5% 15% 15% 15% 15% 15% 15% 5%;
    grid-template-areas: "a b c d e f g h";
    font-size: 1.2rem;
    & > button {
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Open Sans',sans-serif;
    }
}

.catego-0 {
    grid-area: b;
}

.catego-1 {
    grid-area: c;
}

.catego-2 {
    grid-area: d;
}

.catego-3 {
    grid-area: e;
}

.catego-4 {
    grid-area: f;
}

.catego-5 {
    grid-area: g;
}

.project-container {
    display: grid;
    grid-template-columns: 50% 18% 18% auto;
    grid-template-areas:
        "a b c d"
        "e f g h";

    &>.project-block {
        background-color: #e5e5e5;
        margin: 1rem 0 0 1rem;
        z-index: 10;

        &>button >h2 {
            text-align: center;
            padding: 0 2rem 0 2rem;
            font-size: 1.95rem;
        }

        &>button>p {
            text-align: center;
            padding: 1rem 5rem 1rem 5rem;
            line-height: 1.5;
            font-size: 1rem;
        }
    }
}

.project-0 {
    grid-area: b;
}

.project-1 {
    grid-area: c;
}

.project-2 {
    grid-area: f;
}

.project-3 {
    grid-area: g;
}

.nextImg {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 92%;
    top: 130rem;
    z-index: 3;
}

.prevImg {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 12%;
    top: 130rem;
    z-index: 3;
}

.project-img {
    position: absolute;
    left: 22rem;
    top: 120rem;
    width: 50%;
    z-index: 2;
}

.svg-background {
    position: absolute;
    left: 30%;
    top: 115rem;
    width: 60rem;
    height: 60rem;
    z-index: 1;
}

@media screen and (max-width:1750px) {
    .project-container {

        &>.project-block {
            &>button>h2 {
                padding: 0rem 1.5rem 0rem 1.5rem;
                font-size: 1.5rem;
            }

            &>button>p {
                padding: 1rem 4rem 1rem 4rem;
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (max-width:1500px) {
    .project-container {
        margin-top: 3rem;
        &>.project-block {
            &>button>h2 {
                padding: 0 2rem 0 2rem;
                font-size: 1.5rem;
            }

            &>button>p {
                padding: 0rem 3rem 0rem 3rem;
                font-size: 0.9rem;
            }
        }
    }
    .nextImg {
        position: absolute;
        width: 5rem;
        height: 5rem;
        left: 92%;
        top: 130rem;
    }

    .prevImg {
        position: absolute;
        width: 5rem;
        height: 5rem;
        left: 15%;
        top: 130rem;
    }

    .project-img {
        left: 22rem;
        top: 120rem;
        width: 50%;
    }

    .svg-background {
        width: 50rem;
        height: 50rem;
    }
}

@media screen and (max-width:1250px) {
    .project-container {
        &>.project-block {
            background-color: #e5e5e5;
            margin: 1rem 0 0 1rem;
            z-index: 10;

            &>button>h2 {
                padding: 0 1rem 0 1rem;
                font-size: 1.2rem;
            }

            &>button>p {
                padding: 1rem 0rem 1rem 0rem;
                line-height: 1.5;
                font-size: 1rem;
            }
        }
    }
    .nextImg {
        width: 5rem;
        height: 5rem;
        left: 92%;
        top: 140rem;
    }

    .prevImg {
        width: 5rem;
        height: 5rem;
        left: 15%;
        top: 140rem;
    }

    .project-img {
        left: 15rem;
        top: 130rem;
        width: 60%;
    }

    .svg-background {
        left: 20%;
        top: 125rem;
        width: 45rem;
        height: 45rem;
    }
}

@media screen and (max-width:1050px) {
    .project-container {

        &>.project-block {
            background-color: #e5e5e5;
            margin: 1rem 0 0 1rem;

            &>button>h2 {
                padding: 0 1rem 0 1rem;
                font-size: 1.2rem;
            }

            &>button>p {
                padding: 1rem 0rem 1rem 0rem;
                font-size: 1rem;
            }
        }
    }
     .nextImg {
         top: 150rem;
         width: 5rem;
         height: 5rem;
         left: 87%;
     }

     .prevImg {
         top: 150rem;
         width: 5rem;
         height: 5rem;
         left: 3%;
     }

     .project-img {
         top: 140rem;
         left: 11rem;
         width: 60%;
     }

     .svg-background {
         top: 130rem;
         left: 10%;
         width: 45rem;
         height: 45rem;
     }
}

@media screen and (max-width:950px) {
    .main-container-projet {
        padding-bottom: 0;
        max-height: fit-content;

    }

    .project-container {
        grid-template-columns: 25% 35% auto;
        grid-template-areas:"a b x"
                            "a c x"
                            "a f x"
                            "a g x";
        &>.project-block {
            background-color: #e5e5e5;
            margin: 1rem 0 0 1rem;
            width: 30vh;
            &>button>h2 {
                text-align: center;
                padding: 0 2rem 0 2rem;
                font-size: 1.95rem;
            }

            &>button>p {
                text-align: center;
                padding: 1rem 2rem 1rem 2rem;
                line-height: 1.5;
                font-size: 1rem;
            }
        }
    }

       .nextImg {
           position: absolute;
           width: 3rem;
           height: 3rem;
           left: 87%;
           top: 190rem;
       }

       .prevImg {
           position: absolute;
           width: 3rem;
           height: 3rem;
           left: 3%;
           top: 190rem;
       }

       .project-img {
           display: none;
       }

       .svg-background {
            display: none;
       }
}
