.main-container {
    max-height: 125vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &>.title {
        text-align: center;
        font-size: 3rem;
    }
}

.catego-container {
    display: grid;
    grid-template-rows: 5% 15% 15% 15% 15% 15% 15% 5%;
    grid-template-areas: "a b c d e f g h";
    font-size: 1.2rem;
    & > button {
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Open Sans',sans-serif;
    }
}

.catego-0 {
    grid-area: b;
}

.catego-1 {
    grid-area: c;
}

.catego-2 {
    grid-area: d;
}

.catego-3 {
    grid-area: e;
}

.catego-4 {
    grid-area: f;
}

.catego-5 {
    grid-area: g;
}

.project-container {
    display: grid;
    grid-template-columns: 50% 18% 18% auto;
    grid-template-areas:
        "a b c d"
        "e f g h";

    &>.project-block {
        background-color: #e5e5e5;
        margin: 1rem 0 0 1rem;
        z-index: 10;

        &>button >h2 {
            text-align: center;
            padding: 0 3.9rem 0 3.9rem;
            font-size: 1.95rem;
        }

        &>button>p {
            text-align: center;
            padding: 1rem 5rem 1rem 5rem;
            line-height: 1.5;
            font-size: 1rem;
        }
    }
}

.project-0 {
    grid-area: b;
}

.project-1 {
    grid-area: c;
}

.project-2 {
    grid-area: f;
}

.project-3 {
    grid-area: g;
}

.nextImg {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 87%;
    top: 130rem;
    z-index: 3;
}

.prevImg {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 12%;
    top: 130rem;
    z-index: 3;
}

.project-img {
    position: absolute;
    left: 22rem;
    top: 120rem;
    width: 50%;
    z-index: 2;
}

.svg-background {
    position: absolute;
    left: 30%;
    top: 115rem;
    width: 60rem;
    height: 60rem;
    z-index: 1;
}